<!-- Devices list -->
<div *ngIf="(devices$ | async) as devices" class="list-group">
  <hw-device *ngFor="let device of devices" [device]="device" (onActivate)="handleActivate($event)"></hw-device>
</div>

<!-- Loading placeholder -->
<ng-container *ngIf="(parametersLoading$ | async); else parametersList">
  <div class="list-group">List is loading</div>
</ng-container>

<!-- Parameters list -->
<ng-template #parametersList>
  <div *ngIf="(parameters$ | async) as parameters" class="list-group">
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
      <hw-device-parameter
        *cdkVirtualFor="let param of parameters; trackBy:trackByParamId"
        [params]="param"
        (onUpdate)="handleUpdate($event)"
        class="row"></hw-device-parameter>
    </cdk-virtual-scroll-viewport>
  </div>
</ng-template>
